# These four papers carry arXiv's default "non-exclusive distribution" licence, which lets arXiv
# distribute them but grants no one else that right. Both remotes of this repo are public, so they
# are kept on disk and not committed. Re-download from the arXiv link in ../README.md.
# Checked 2026-10-05 against each paper's arXiv abstract page. The other five here are CC0 / CC BY /
# CC BY-NC-SA and are committed.
2024_Verga_Replacing-Judges-with-Juries_PoLL.pdf
2024_Tan_JudgeBench_ICLR2025.pdf
2024_Huang_Fine-tuned-Judge-not-Substitute-for-GPT4_ACLFindings2025.pdf
2024_Ye_Justice-or-Prejudice_CALM_ICLR2025.pdf
